<div class="content-full" ng-controller="scheduledTable" ng-show="tab == 'scheduled'">
    <div class="wrapper box">
        <div class="row-button clearfix" style="border-bottom:#03a6fa solid 1px;">
            <h3>Scheduled Listing notifications</h3>
            <a href="#" class="btn btn-stroke" ui-sref="push($root.selectedApp)">+ Row</a>
            <a href="" class="btn btn-stroke" ng-click="deleteListItem()">- Row</a>
            <input type="text" class="btn btn-stroke more" placeholder="Search here" ng-model="search" />
            <a href="#" class="fr btn-left"><span class="ic ic-refresh"></span></a>
            <a href="#" class="fr" style="margin-right:10px;" ng-click="exportData()"><span class="ic ic-download"></span></a>            
        </div>
        <div class="line_tran"></div>
        <div id="exportableSL">
        <table class="bordered">
            <thead>
                <tr>
                    <th style="padding-left: 15px;">
                        <p class="check">
                            <input type="checkbox" class="filled-in" id="filled-in-boxx" ng-change="checkAll(item.questID)" ng-model="answers[item.questID]"/>
                            <label for="filled-in-boxx"></label>
                        </p>
                    </th>
                    <th>Time <span>datetime</span></th>
                    <th class="center-align">Platform <span>string</span></th>
                    <th class="center-align">Title <span>string</span></th>
                    <th class="center-align">Message <span>string</span></th>
                    <th class="center-align">Actions <span></span></th>
                </tr>
            </thead>
            <tbody style="font-size: 90%;">
                <tr ng-repeat="item in data | filter:search">
                    <td  style="padding-left: 15px;">
                        <p class="check">
                            <input type="checkbox" class="filled-in" ng-attr-id="[['filled-in-box' + $index]]" ng-model="deleteItem[$index]" ng-true-value="[[item.id]]" ng-false-value="0" />
                            <label ng-attr-for="[['filled-in-box' + $index]]"></label>
                        </p>
                    </td>                  
                    <td><div ng-bind-html="item.time | date:'HH:mm dd/MM/yyyy' | highlight:search"></div></td>
                    <td class="center-align"><div ng-bind-html="item.request.request.platform | highlight:search"></div></td>
                    <td class="center-align"><div ng-bind-html="item.request.request.data.title | highlight:search"></div></td>
                    <td class="center-align"><div ng-bind-html="item.request.request.data.message | highlight:search"></div></td>
                    <td class="center-align">         <!--<a >edit</a>,-->
                        <span style="cursor: pointer;" ng-click="delete(item.id)"><img ng-src="[[app_domain]]/public/admin/img/delete.png" width="18" height="18"></span>
                    </td>   
                </tr>
            </tbody>
        </table>
        </div>
        <div class="pagination">
            <div class="fl">
                Show 
                <select name="mySelect" id="mySelect"
                ng-options="option.name for option in dataOption.availableOptions track by option.id"
                ng-model="dataOption.selectedOption"></select>
                of [[count]] items
            </div>
            <div class="fr action">
                <a href="" ng-click="firstPage()" class="disable"><span class="ic ic-previous2"></span></a>
                <a href="" ng-click="previousPage()"><span class="ic ic-previous"></span></a>
                <a href="" ng-click="nextPage()"><span class="ic ic-next"></span></a>
                <a href="" ng-click="lastPage()"><span class="ic ic-next2"></span></a>
            </div>
            <div class="fr">
                Page 
                <input type="text" placeholder="1" style="width:40px;text-align:center;color:black;" ng-model="curPage" class="ng-pristine ng-untouched ng-valid">
                of [[maxPage]]
            </div>
        </div>
    </div>
</div> <!--End content-full scheduledTable-->