<div ng-controller="appInfo">

<div id="header">
    <div class="header-inside">
        <h1 class="logo"><a href="#" ng-click="dashboardRD()">Zalo</a></h1>

        <a class='dropdown-button btn' href='' ng-click="change()"><p>[[$root.selectedApp.name]]</p><span>PROD</span></a>

        <ul style="display: none; width: 200px; position: absolute; top: 0px; left: 46px; opacity: 1;" class='dropdown-content' ng-class="{showhint: dropdown.active === true}">

            <li ng-repeat="app in appss" style="border-bottom: 1px solid #4eb5e9;"><a href="#!" ui-sref="appInfo({id: app.id})" ng-click="change()"><p>[[app.name]]</p><span>PROD</span></a></li>

            <li ng-repeat="app in appss" style="border-bottom: 1px solid #4eb5e9;"><a href="#!" ui-sref="appInfo({id: app.id})" ng-click="change()"><p>[[app.name]]</p><span>PROD</span></a></li>

            <li ng-repeat="app in appss" style="border-bottom: 1px solid #4eb5e9;"><a href="#!" ui-sref="appInfo({id: app.id})" ng-click="change()"><p>[[app.name]]</p><span>PROD</span></a></li>

        </ul>

        <div class="wrapper">
            <ul class="menu" style="text-align: center;">
                <li><a href="#" class="active"><span class="ic ic-core"></span>Core</a></li>
                <li ui-sref="push($root.selectedApp)"><a href="#"><span class="ic ic-push"></span>Push</a></li>
                <li ui-sref="setting($root.selectedApp)"><a href="#"><span class="ic ic-settings"></span>Settings</a></li>
            </ul>
        </div>
        
        <a class='dropdown-button btn' href='' ng-click="changeLogin()" style="position: absolute;right: -4px;top: 0;left:auto;">
            <img ng-src="https://cdn4.iconfinder.com/data/icons/32x32-free-design-icons/32/Pencil.png" width="32" height="32" style="margin-top: 5px;">
            <span style="font-size: 12px;border: none;width: auto;margin-top: 5px;line-height: 16px;">
                <strong style="font-weight: bold;">Hello Hoài Bảo</strong><br>
                <i style="font-size: 10px;">You’re login as Admin</i>
            </span>
        </a>
        <ul style="margin-left: 87%;top: auto !important;display: none; width: 200px; position: absolute; top: 0px; left: 46px; opacity: 1;" class='dropdown-content' ng-class="{showhint: dropdown.activeLogin === true}">
           <li style="border-bottom: 1px solid #4eb5e9;">
              <a href="[[logoutUrl]]">
                 <p>Logout</p>
              </a>
           </li>
        </ul>

    </div>
</div>
<!--End header-->

<div id="menu-right">
    <ul class="collapsible" data-collapsible="accordion">
        <li ng-class="{active: tab == 'devices'}">
            <div class="collapsible-header" ng-class="{active: tab == 'devices'}" ng-click="tab = 'devices'"><span class="ic ic-data"></span>Devices</div>
        </li>
        <li ng-class="{active: tab == 'scheduled'}">
            <div class="collapsible-header" ng-class="{active: tab == 'scheduled'}" ng-click="tab = 'scheduled'"><span class="ic ic-cloudcode"></span>Scheduled</div>          
        </li>
        <li ng-class="{active: tab == 'history'}" ng-click="tab = 'history'">
            <div class="collapsible-header" ng-class="{active: tab == 'history'}" ng-click="tab = 'history'"><span class="ic ic-webhooks"></span>History</div>
        </li>
    </ul>
</div>
<!--End menu-right-->


<div ng-include src="'/public/admin/html/device.html'"></div>
<div ng-include src="'/public/admin/html/scheduled.html'"></div>
<div ng-include src="'/public/admin/html/history.html'"></div>

<div class="clear"></div>

<div id="footer">
    <ul>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Billing</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Status</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Zalo</a></li>
    </ul>
    <div class="clear"></div>
</div><!--end footer-->
<script>
    var s = $(window).height() - 99;;  
    $( ".box" ).css({"height": s});
</script>

</div>